/* montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Fraunces font */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
/* body */
body {
  background: hsl(30, 38%, 92%);
  /* padding: 50px; */
}

/* The container */
#container {
  overflow: hidden;
  border-radius: 10px;
  width: 800px;
  display: flex;
  margin: 50px auto;
  height: 600px;
}
/* The info-side */
#img {
  background-size: cover;
  background-image: url(images/image-product-desktop.jpg);
  width: 400px;
  height: 600px;
}
#info-side {
  background-color: hsl(0, 0%, 100%);
  padding-left:25px;
  padding-right:25px;
  font-size:1rem;
  width: 400px;
  height: 600px;
}
#p.light {
  height: 7ch;

}
h2 {
  font-family: "Fraunces", serif;
  /* The bold text */
  font-size: 40px;
  color: hsl(212, 21%, 14%);
}

/* Class light */
.light {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

#p.light {
  /* this is for the paragraph */
  font-size: 20px;
  word-wrap: break-word;
}

#rprice {
  font-family: "Fraunces", serif;
  font-size: 70px;
  color: hsl(158, 36%, 37%);
}
#cprice {
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  margin-left: 35px;
}

/* add to cart button */
#cart-btn {
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  font-size: 20px;

  height: 65px;
  width: 355px;
}
#button {
  margin: 50px auto 0px;
  text-align: center;
}
#cart-btn:active {
  background-color: hsl(158, 53%, 23%);
}






































/* Media queries */
@media screen and (max-width: 425px) {
  #container {
    margin:50px auto;
    height: 1300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 900px;
    border-radius: 15px;
  }
  #img {
    height: 300px;
    width: 300px;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
  }
  #info-side {
    height: 500px;
    width: 252px;
    font-size: 11px;
    padding-top: 30px;
    padding-bottom: 70px;
  }
  #p.light {
    height: 7ch;
   
  }
  h2 {
    width: 250px;
    font-family: "Fraunces", serif;
    font-size: 30px;
    color: hsl(212, 21%, 14%);
  }
  
  /* Class light */
  .light {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
  }
  
  #p.light {
    width: 250px;
    /* this is for the paragraph */
    font-size: 20px;
    height: 130px
  }
  
  /* price */
  #price {
    margin-top: 10px;
  }
  #rprice {
    font-family: "Fraunces", serif;
    font-size: 40px;
    color: hsl(158, 36%, 37%);
  }
  #cprice {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-left: 35px;
  }
  
  /* add to cart button */
  #cart-btn {
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    font-size: 20px;
  
    height: 65px;
    width: 250px;
  }
  #button {
    margin: 50px auto 0px;
    text-align: center;
  }
  #cart-btn:active {
    background-color: hsl(158, 53%, 23%);
  }
  .attribution{
    margin: auto;
    width: 310px;
  }
  
}

